.order {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 159px;
}

.order-menu {
    display: flex;
    width: 255px;
    align-items: center;
    border-bottom: 1px solid #83888F;
    padding: 24px 0 24px 0;
    opacity: 0.5;
    transition: all ease 0.3s;
}

.order-menu:hover {
    opacity: 0.7;
    cursor: pointer;
}


.order-menu:last-child {
    border-bottom: none;
}

.selected-menu {
    opacity: 1;
}

.menu-number {
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #0E8784;
    margin-right: 28px;
}

.menu-title {
    font-family: 'Fraunces';
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #333D4B;
}

.filter {
    margin-top: 88px;
    position: relative;
    overflow: hidden;
}



.filter-title__icon {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 99;
    margin-bottom: 0px;
    transition: all ease 0.3s;
    cursor: pointer;
    background-color: #fff;
}



.arrow {
    transition: all ease 0.3s;
    transform: rotate(0deg);
}

.collapsed-arrow {
    transform: rotate(180deg);
}

.collapsed-title {
    margin-bottom: 310px;
}

.filter-title {
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #83888F;
}

.filter-wrapps {
    display: flex;
    justify-content: center;
    margin-top: 56px;
    border-radius: 10px;
    transition: all ease 0.3s;
    opacity: 0;
    position: absolute;
    top: -200px;

}

.collapsed {
    top: 30px;
    opacity: 1;
}

.filter-wrapp {
    width: 228px;
    background-color: #F4F1EB;
    border-radius: 10px;
    margin-right: 23px;
    transition: all ease 0.5s;
    cursor: pointer;
}

.filter-wrapp:hover {
    background-color: #0E8784;
}

.filter-wrapp-td {
    padding: 32px 28px 84px 28px;
}
  

.filter-selected{
    background-color: #0E8784; 
}


.filter-wrapps__title {
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
}


.filter-wrapps__descrip {
    width: 172px;
    font-family: 'Bardow';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-top: 24px;
}

.filter-selected{
    color: #F4F1EB ; 
} 


.summary {
    width: 730px;
    background-color: #2C343E;
    border-radius: 10px;
    margin-top: 88px;
}

.summary-title {
    color: #FFFFFF;
    opacity: 0.5;
}

.summary-description {
    width: 495px;
    font-family: 'Fraunces ';
    font-weight: 900;
    font-size: 24px;
    line-height: 40px;
    color: #FFFFFF;
    margin-top: 8px;
}

.summary-td {
    padding: 27px 64px 27px 64px;
}

span {
    color: #0E8784;
}

.summary-button {
    display: flex;
    justify-content: end;
}



@media only screen and (max-width: 992px){
    .order-left {
        display: none;
    }

    .order {
        justify-content: center;
    }

    .summary-button {
        justify-content: center;
    }
}

@media only screen and (max-width: 768px) {
    .order-left {
        display: none;
    }

    .order {
        justify-content: center;
    }

    .filter-wrapp {
        margin-right: 10px;
    }

    .summary-button {
        justify-content: center;
    }
}





@media only screen and (max-width: 576px) {
    .filter-title__icon {
        justify-content: space-evenly;
    }

    .filter-title {
        width: 435px;
        font-size: 24px;
    }

    .collapsed-title {
        margin-bottom: 120%;
    }

    .filter-wrapps {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .filter-wrapps {
        margin-top: 32px;
    }

    .filter-wrapp {
        width: 440px;
        margin-top: 16px;
        margin-right: 0;
    }

    .filter-wrapp-td {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 24px 24px 25px 24px;
    }

    .filter-wrapps__descrip {
        width: 287px;
    }

    .summary {
        width: 454px;
    }

    .summary-td {
        text-align: center;
    }


    .summary-description {
        width: 323px;
    }

    .summary-button {
        width: 100%;
        text-align: center;
        justify-content: center;
    }
}

@media only screen and (max-width: 425px){
    .order-right{
        width: 100%;
    }

    .filter-wrapp {
        width: 400px;
        margin-top: 16px;
        margin-right: 0;
    }

    .filter-wrapp-td {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 24px 24px 25px 24px;
    }

    .filter-title{
        font-size: 20px;
    }


    .collapsed-title {
        margin-bottom: 135%;
    }

    .summary {
        width: 392px;
    }

    .summary-description {
        width: 260px;
    }
}

@media only screen and (max-width: 375px){
    .order-right{
        width: 100%;
    }

    .filter-wrapp {
        width: 330px;
        margin-top: 16px;
        margin-right: 0;
    }

    .filter-wrapp-td {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 24px 24px 25px 24px;
    }

    .filter-title{
        font-size: 16px;
    }

    .collapsed-title {
        margin-bottom: 165%;
    }

    .summary {
        width: 320px;
    }

    .summary-description {
        font-size: 16px;
        width: 190px;
    }

}