.quality-box{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    background-color: #2C343E;
    margin-top: 256px;
    

}

.quality-td{
    padding: 88px 85px 176px 85px;
}


.quality-title{
    font-family: 'Fraunces';
    font-size: 40px;
    font-weight: 900;
    line-height: 48px;
    color: #FEFCF7;
}

.quality-description{
    width: 540px;
    font-family: 'Barlow';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    opacity: 0.8;
    color: #FEFCF7;
    margin-top: 32px;
}

.quality-image{
    margin-top: -157px;
    border-radius: 20px;
    z-index: 1;
}




@media only screen and (max-width: 768px){
    .quality-box{
        flex-direction: column-reverse;
    }

    .quality-image{
        width: 573px;
        height: 320px;
        object-fit: cover;
        margin-top: -140px;
    }

    .quality-td{
        text-align: center;
    }
}





@media only screen and (max-width: 576px){
    .quality-image{
        width: 470px;
        object-fit: cover;
        margin-top: -140px;
    }


    .quality-title{
        width: 322px;
        text-align: center;
    }


    .quality-description{
        width: 311px;
        text-align: center;
    }

    .quality-td{
        padding: 142px 24px 61px 24px;
    }
}