.section-our__info{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 168px;
}

.section-our__image{
    border-radius: 10px;
}

.section-our__title{
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color:#333D4B;
}

.section-our__description{
    width: 540px;
    font-family: 'Bardow';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color:#333D4B;
    opacity: 0.7;
    margin-top: 32px;

}






@media only screen and (max-width: 768px){
    .section-our__info{
        justify-content: space-between;
    }

    .section-our__image{
        width: 289px;
        height: 470px;
        object-fit: cover;  
    }


    .section-our__description{
        width: 339px;
    }
}