.works-title{
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 24px;
    color: #83888F;
    margin-top: 200px;
}

.works-circle__line{
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100px;
}


.works-circle{
    width: 31px;
    height: 31px;
    border-radius: 50%;
    box-shadow: 0 0 0 2px #0E8784;
    background-color: transparent;
    z-index: 1;
}

.works-line{
    flex: 0.4;
    height: 2px;
    background-color: #FDD6BA;
}

.works-numbers{
    display: flex;
}

.works-number{
    font-family: 'Fraunces';
    font-size: 71px;
    line-height: 71px;
    font-weight: 900;
    color: #FDD6BA;
}



.works-info{
    display: flex;
    justify-content: space-between;
    margin-top: 38px;
}


.works-name{
    width: 250px;
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #333D4B;
    margin-top: 38px;
}

.works-description{
    width: 255px;
    font-family: 'Bardow';
    font-size: 16px;
    font-weight: 400px;
    line-height: 26px;
    margin-top: 42px;
    color: #333D4B;
}





@media only screen and (max-width: 992px){
    .works-line{
        flex: 0.36;
    }

    .works-number{
        font-size: 65px;
       width: 280px;
    }
    

    .works-description{
        width: 255px;
    }
}


@media only screen and (max-width: 768px){

    .works-number{
        width: 100px;
     }

    .works-ntd{
        width: 225px;
    }

    .works-description{
        width: 211px;
    }

}


@media only screen and (max-width: 576px){
    .works-circle__line{
        display: none;
    }

    .works-title{
        text-align: center;
    }

    .works-info{
        flex-direction: column;
        align-items: center;
    }

    .works-ntd{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }

    .works-number{
        font-size: 65px;
        margin-right: 0;
    }

    .works-name{
        width: 355px;
        text-align: center;
        font-size: 24px;
    }

    .works-description{
        width: 327px;
        text-align: center;
    }
 
    .works-button{
        text-align: center;
    }
}


@media only screen and (max-width: 425px){
    .works-number{
        font-size: 60px;
    }

    .works-name{
        font-size: 22px;
    }

    .works-description{
        font-size: 12px;
    }
}

