.works-box{
    display: flex;
    margin-top: 200px;
}

.works-title{
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 24px;
    color: #83888F;
}

.works-circle__line{
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100px;
}


.works-circle{
    width: 31px;
    height: 31px;
    border-radius: 50%;
    box-shadow: 0 0 0 2px #0E8784;
    background-color: transparent;
    z-index: 1;
}

.works-line{
    flex: 0.4;
    height: 2px;
    background-color: #FDD6BA;
}

.works-numbers{
    display: flex;
}

.works-number{
    font-family: 'Fraunces';
    font-size: 71px;
    line-height: 71px;
    font-weight: 900;
    color: #FDD6BA;
    margin-right: 225px
}


.works-info{
    display: flex;
    justify-content: space-between;
    margin-top: 38px;
}


.works-name{
    width: 255px;
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #333D4B;
    margin-top: 38px;
}

.works-description{
    width: 285px;
    font-family: 'Bardow';
    font-size: 16px;
    font-weight: 400px;
    line-height: 26px;
    margin-top: 42px;
    color: #333D4B;
}

