.section-info {
    margin-right: 20px;
}

.section-info:last-child {
    margin-right: 0px;
}

.coffee-name {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 255px;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    margin-top: 70px;
}

.coffee-description {
    font-family: 'Barlow';
    width: 255px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    margin-top: 24px;
}


@media only screen and (max-width: 768px){
    .section-info{
        display: flex;
        justify-content: space-evenly;
    }

    .coffe-img{
        padding-top: 34px;
    }
}


@media only screen and (max-width: 576px){
    .section-info{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .coffee-name{
        margin-top: 24px;
    }

    .coffe-img{
        margin-top: 45px;
    }
}