.choose-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    padding-bottom: 317px;
    border-radius: 10px;
    background-color: #2C343E;
}

.choose-rd{
    padding: 100px 370px 317px 370px;
}


.choose-title {
    color: #fff;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    padding-top: 100px;
}

.choose-description {
    width: 540px;
    font-family: 'Barlow';
    font-weight: 400px;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #fff;
    padding-top: 30px;
    opacity: 0.8;
}

.choose-cards {
    display: flex;
    justify-content: center;
}

.choose-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #0E8784;
    width: 21%;
    border-radius: 10px;
    padding: 72px 48px 48px 47px;
    margin-top: -215px;
    margin-right: 40px;
}

.choose-card:last-child{
    margin-right: 0;
}

.choose-image{
    width: 72px;
    height: 72px;
}

.choose-hp{
    width: 280px;
    text-align: center;
}


.choose-card__name{
    font-family: 'Fraunces';
    width: 255px;
    font-weight: 900;
    font-size: 24px;
    color: #fff;
    text-align: center;
    padding-top: 56px;
}

.choose-card__description{
    width: 255px;
    font-family: 'Bardow';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #fff;
    padding-top: 24px;
}



@media only screen and (max-width: 1200px){
    .choose-card {
        width: 22%;
        margin-right: 20px;
    }
    
}


@media only screen and (max-width: 992px){
    .choose-box{
        padding-bottom: 400px;
    }

    .choose-cards{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -340px;
    }


    .choose-card{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        width: 83%;
        margin: 30px 0 0 0;
    }


    .choose-card__name{
        text-align: start;
        padding-top: 0px;
    }

    .choose-card__description{
        /* width: 350px; */
        text-align: start;
        
    }
}


@media only screen and (max-width: 768px){
    .choose-box{
        padding-bottom: 450px;
        margin-top: 144px;
    }

    .choose-td{
        margin-top: 70px;
    }

    .choose-description {
        margin: 0 auto;
    }

    .choose-title {
        margin: 0 auto;
    }

    .choose-cards{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -345px;
    }

    .choose-card{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        width: 560px;
        padding: 41px 48px 41px 70px;
        margin: 30px 0 0 0 ;

    }


    .choose-card__name{
        padding-top: 0px;
    }

    .choose-card__description{
        /* width: 355px; */
        text-align: left;
    }

    .choose-title{
        /* width: 268px; */
        font-size: 32px;
        padding: 0;
    } 

    
}





@media only screen and (max-width: 576px){
    .choose-box{
        margin-top: 144px;
    }

    .choose-td{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 12px 51px 12px;
        
    }

    .choose-description {
        width: 65%;
    }

    .choose-cards{
        margin-top: -480px;
    }


    .choose-card{
        width: 330px;
        flex-direction: column;
    }

    .choose-card__name{
        margin-top: 16px;
        text-align: center;
    }

    .choose-card__description{
        width: 260px;
        text-align: center;
    }
}


@media only screen and (max-width: 425px){
    .choose-card{
        width: 200px;
        flex-direction: column;
    }

    .choose-card__name{
        font-size: 20px; 
    }

    .choose-card__description{
        width: 260px;
        text-align: center;
        font-size: 14px;
    }

    .choose-image img{ 
        width: 60px;
    }
}

@media only screen and (max-width: 375px){
    .choose-card{
        width: 155px;
        flex-direction: column;
    }

    .choose-card__name{
        /* width: 215px; */
        text-align: center;
    }

    .choose-card__description{
        /* width: 195px; */
        text-align: center;
        font-size: 14px;
    }

}