.cards-wraprs {
    display: flex;
    justify-content: center;
}


.hero-text__wrap {
    margin-top: 150px;
    display: flex;
    justify-content: center;
}


.hero-our {
    font-family: "Fraunces", serif;
    z-index: -1;
    font-size: 150px;
    background: linear-gradient(#96999d, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin-bottom: -90px;
    font-weight: 900;
    letter-spacing: 10px;
}





@media only screen and (max-width: 768px) {
    .cards-wraprs {
        display: flex;
        flex-direction: column;
    }

    .hero-our {
        font-family: "Fraunces", serif;
        z-index: -1;
        font-size: 96px;
        background: linear-gradient(#96999d, #fff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
        margin-bottom: -90px;
        font-weight: 900;
        letter-spacing: 10px;
    }
}