.about-hero__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-image: url("assets/image/about-image/aboutHero.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 14px;
    margin-top: 45px;  
    
}

.about-hero__td{
    padding: 137px 750px 137px 85px;
}

.about-title{
    font-family: 'Fraunce';
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #FEFCF7;
}

.about-description{
    width: 455px;
    font-family: 'Barlow';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    margin-top: 24px;
}






@media only screen and (max-width: 768px){

    .about-hero__info{
        background-position: center;
    }

    .about-hero__td{
        padding: 118px 233px 118px 58px;
    }

    .about-title{
        font-size: 32px; 
    }

    .about-description{
        width: 398px;
        font-size: 15px;
    }
}




@media only screen and (max-width: 576px){


    .about-hero__td{
        padding: 111px 24px 87px 24px;
        text-align: center;
    }

    .about-title{
        text-align: center; 
    }

    .about-description{
        width: 315px;
        text-align: center;
    }
}