.footer{
    background-color:#2C343E;
    margin-top: 200px;
}

.footer-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 47px 85px 47px 65px;
}

.footer-nav__ul{
    margin: 0 0 0 80px;
}

.footer-item{
    display: inline;
    list-style: none;
}

.footer-link{
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
    color: #83888F;
    line-height: 15px;
    margin: 18px;
    transition: all ease 0.3s;
    cursor: pointer;
}

.footer-link:hover{
    color:#FEFCF7;
}

.footer-icons{
    padding: 0 0 0 250px;
}

.footer-icons__link svg {
    fill: #ffF;
    margin-left: 30px;
    transition: all ease .2s;
}

.footer-icons__link svg:hover{
    fill: #FDD6BA;
}






@media only screen and (max-width: 1200px){
    .footer-nav__ul{
        margin: 0px 0 0 15px;
    }
}


@media only screen and (max-width: 992px){
    .footer-info{
        flex-direction: column;
        padding: 54px 190px 54px 190px;
    }

    .footer-nav__ul{
        margin: 34px 0 0 10px;
        
    }

    .footer-icons{
        padding: 50px 10px 0 0;
    }
}


@media only screen and (max-width: 768px){
    .footer-info{
        flex-direction: column;
        padding: 54px 190px 54px 190px;
    }

    .footer-logo{
        width: 236px;
    }

    .footer-nav__ul{
        margin: 34px 0 0 10px;
        
    }

    .footer-icons{
        padding: 50px 37px 0 0;
    }

    .footer-icons__link svg {
        fill: #ffF;
        margin-left: 30px;
        transition: all ease .2s;
    }
    

    .footer-icons__link svg:hover{
        fill: #FDD6BA;
    }

}




/* Phone */
@media only screen and (max-width: 576px) {
    .footer-nav__ul{
       display: flex;
       flex-direction: column;
       align-items: center;
        
    }

    .footer-icons{
       display: flex;
       align-items: center;
    }

    .footer-item{
        margin-top: 22px;
    }
  }


  @media only screen and (max-width: 422px){
    .footer-nav__ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 34px 0 0 10px;
     }

     .footer-nav {
        width: 160px;
     }
 
     .footer-icons{
        display: flex;
        align-items: center;
     }
 
     .footer-item{
         margin-top: 22px;
     }
}

@media only screen and (max-width: 375px){
    .footer-info{
        padding: 54px 150px 54px 147px;
    }

}