.completed-hero{
    display: flex;
    background-image: url("assets/image/subcriptions-image/hero-coffee.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    border-radius: 10px;
    margin-top: 43px;
     
}

.completed-hero__td{
    padding: 134px 0 134px 85px;
}

.completed-hero__title{
    font-family: 'Fraunces';
    font-size: 72px;
    font-weight: 900;
    line-height: 72px;
    color: #FEFCF7;
}

.completed-hero__descrip{
    width: 445px;
    font-family: 'Bardow';
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #FEFCF7;
    opacity: 0.8;
    margin-top: 32px;
}

.completed-hero__box{
    width: 100%;
    background-color:#2C343E;
    margin-top: 177px;
    border-radius: 10px;
}

.completed-about__info{
    padding: 0 150px 99px 85px;
}

.completed-circle__line{
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100px;
}


.completed-circle{
    width: 31px;
    height: 31px;
    border-radius: 50%;
    box-shadow: 0 0 0 2px #0E8784;
    background-color: transparent;
    z-index: 1;
}

.completed-line{
    flex: 0.34;
    height: 2px;
    background-color: #FDD6BA;
}

.completed-numbers{
    display: flex;
}

.completed-number{
    font-family: 'Fraunces';
    font-size: 71px;
    line-height: 71px;
    font-weight: 900;
    color: #FDD6BA;
    margin-right: 225px
}


.completed-hero__info{
    display: flex;
    justify-content: space-between;
    margin-top: 38px;
}

.completed-hero__name{
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #FEFCF7;
    margin-top: 38px;
}

.completed-hero__descrip{
    width: 285px;
    font-family: 'Bardow';
    font-size: 16px;
    font-weight: 400px;
    line-height: 26px;
    margin-top: 42px;
    color: #FEFCF7;
    opacity: 0.7;
}


@media only screen and (max-width: 992px){
    .completed-circle__line{
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .completed-hero__info{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .completed-number{
        margin-top: 40px;
        margin-right: 0;
    }

    .completed-hero__name{
        margin-top: 20px;
    }

    .completed-hero__descrip{
        width: 410px;
    }
}

@media only screen and (max-width: 768px){
    .completed-hero{
        justify-content: center;
        text-align: center;
    }

    .completed-hero__td{
        padding: 127px 0 126px 0;
    }

    .completed-hero__title{
        font-size: 65px;
    }

    .completed-about__info{
        padding: 0 39px 70px 40px;
    }

    .completed-hero__name{
        font-size: 28px;
    }

    .completed-hero__descrip{
        width: 410px;
        margin-top: 30px;
    }

    .completed-number{
        margin-right: 0;
    }

    .completed-circle__line{
        padding-left: 0;
    }

    .completed-line{
        flex: 0.35;
    }
}


@media only screen and (max-width: 576px){
    .completed-hero__title{
        font-size: 55px;
    }

    .completed-circle__line{
       display: none;
    }

    .completed-hero__info{
        flex-direction: column;
        justify-content: center;
        margin-top: 0;
    }

    .completed-about__info {
        padding: 24px 79px 24px;
    }

    .completed-hero__tdn{
        text-align: center;
        margin-top: 30px;
    }

    .completed-hero__descrip{
        margin-top: 25px;
        width: 390px;
    }

}

@media only screen and (max-width: 425px){
    .completed-hero__td{
        padding: 127px 0 126px 0;
    }

    .completed-hero__title{
        font-size: 45px;
    }

    .completed-hero__descrip{
        margin-top: 20px;
        width: 340px;
    }
}
